{% extends "parent.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h2>Select Dice to Roll</h2>
      <p>Use the drop-down menus to choose how many of each type of dice you want to roll</p>

        <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 col-12">
                <img src="static/images/d4.png" width="75%"></img>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-12">
                <img src="static/images/d6.png" width="75%"></img>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-12">
                <img src="static/images/d8.png" width="75%"></img>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-12">
                <img src="static/images/d10.png" width="75%"></img>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-12">
                <img src="static/images/d12.png" width="75%"></img>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 col-12">
                <img src="static/images/d20.png" width="75%"></img>
                </div>
        </div>


        <div class="input-group">
                <select class="custom-select" id="d4dice">
                        <option selected>d4</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                        <option value="1">7</option>
                </select>
                <select class="custom-select" id="d6dice">
                        <option selected>d6</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                        <option value="1">7</option>
                </select>
                <select class="custom-select" id="d8dice">
                        <option selected>d8</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                        <option value="1">7</option>
                </select>
                <select class="custom-select" id="d10dice">
                        <option selected>d10</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                        <option value="1">7</option>
                </select>
                <select class="custom-select" id="d12dice">
                        <option selected>d12</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                        <option value="1">7</option>
                </select>
                <select class="custom-select" id="d20dice">
                        <option selected>d20</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                        <option value="1">7</option>
                </select>
                
        </div>

                <br>
                <br>     
                        <div class="center">
                                <div class="text-center execute">
                                        <button class="clickMe center" id="clickMe" onclick="loadTable()">Submit</button>                                        
                                </div>
                        </div>
                <br>
        <div class="table-box" id="table-box">
                <div class="dice-table" id="dice-table"></div>
        </div>
    </div>
  </div>
    

{% endblock %}